<!DOCTYPE html>
<html>
<head>
    <title>Template Base</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Hola Mundo desde Django</h1>    
    <h2>Con templates</h2>
    {{ request.user }}
    <br>
    <p>
        {{ myText }}
        {{ myNumber }}
    </p>
    <ul>
        {% for myItem in myList %}
            <li>
                {{ forloop.counter }} - {{ myItem }}
                {% if myItem == 33 %}
                    - Este numero es magico
                {% elif myItem > 50 %}
                    - Este numero es mayor que 50
                {% else %}
                    - Este numero no es especial
                {% endif %}
                {% if forloop.first %}
                    - Este es el primer elemento
                {% endif %}
                {% if forloop.last %}
                    - Este es el último elemento
                {% endif %}
                {% if forloop.counter0 == 1 %}
                    - Segundo elemento (usando counter0)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <br>
    {% if request.user.is_authenticated %}
        <p>Bienvenido, {{ request.user.username }}!</p>
    {% else %}
        <p>Por favor, inicia sesión para continuar.</p>
    {% endif %}
    {% endblock %}
</body>
</html>